awe-framework/awe-generic-screens/src/main/resources/schemas/awe/maintain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!--
  ==============================================================================
  Definition
  ==============================================================================
  -->

  <xs:annotation>
    <xs:appinfo>AWE Maintain Schema</xs:appinfo>
    <xs:documentation xml:lang="en">
      This Schema defines the way an AWE Maintain file must be structured
    </xs:documentation>
  </xs:annotation>

  <!--
  ==============================================================================
  Includes
  ==============================================================================
  -->

  <xs:include schemaLocation="query.xsd"/>

  <!--
  ==============================================================================
  Elements
  ==============================================================================
  -->

  <!-- Maintain element -->
  <xs:element name="maintain" type="maintainType">
    <xs:unique name="TargetNameUnique">
      <xs:selector xpath=".//target" />
      <xs:field xpath="@name" />
    </xs:unique>
  </xs:element>

  <!-- Table Element -->
  <xs:element name="table" type="tableType"/>

  <!-- Field Element -->
  <xs:element name="field" type="fieldType" />

  <!-- Constant Element -->
  <xs:element name="static" type="staticType" />

  <!-- Case Element -->
  <xs:element name="operation" type="operationType" />

  <!-- Case Element -->
  <xs:element name="case" type="caseType" />

  <!-- Case When Element -->
  <xs:element name="when" type="caseWhenType" />

  <!-- Case Then Element -->
  <xs:element name="then" type="operandType" />

  <!-- Case Else Element -->
  <xs:element name="else" type="operandType" />

  <!-- Filter Element -->
  <xs:element name="filter" type="filterType"/>

  <!-- And Element -->
  <xs:element name="and" type="filterGroupType"/>

  <!-- Or Element -->
  <xs:element name="or" type="filterGroupType"/>

  <!-- Left operand element -->
  <xs:element name="left-operand" type="operandType" />

  <!-- Right operand element -->
  <xs:element name="right-operand" type="operandType" />

  <!-- Where Element -->
  <xs:element name="where" type="whereType"/>

  <!-- Having Element -->
  <xs:element name="having" type="whereType"/>

  <!-- Target element -->
  <xs:element name="target" type="targetType"/>

  <!-- Email element -->
  <xs:element name="send-email" type="emailType"/>

  <!-- Commit element -->
  <xs:element name="commit"/>

  <!-- Multiple element -->
  <xs:element name="multiple" type="multipleType"/>

  <!-- Serve element -->
  <xs:element name="serve" type="serveType"/>

  <!-- Queue element -->
  <xs:element name="queue" type="queueType"/>

  <!-- Delete element -->
  <xs:element name="delete" type="deleteType"/>

  <!-- Insert element -->
  <xs:element name="insert" type="insertType"/>

  <!-- Update element -->
  <xs:element name="update" type="updateType"/>

  <!-- IncludeTarget element -->
  <xs:element name="include-target" type="includeTargetType"/>

  <!--
  ==============================================================================
  Attribute Groups
  ==============================================================================
  -->

  <!-- Base Field Attributes -->
  <xs:attributeGroup name="baseMaintainAttr">
    <xs:attribute name="alias" type="xs:string"/>
    <xs:attribute name="audit" type="booleanEnum"/>
    <xs:attribute name="key" type="booleanEnum"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="table" type="xs:string"/>
    <xs:attribute name="function" type="functionTypeEnum"/>
  </xs:attributeGroup>

  <!-- Field Attributes -->
  <xs:attributeGroup name="fieldMaintainAttr">
    <xs:attributeGroup ref="baseMaintainAttr"/>
    <xs:attributeGroup ref="fieldAttr"/>
    <xs:attribute name="sequence" type="xs:string"/>
  </xs:attributeGroup>

  <!-- Static Attributes -->
  <xs:attributeGroup name="staticMaintainAttr">
    <xs:attributeGroup ref="baseMaintainAttr"/>
    <xs:attributeGroup ref="staticAttr"/>
  </xs:attributeGroup>

  <!-- Operation Attributes -->
  <xs:attributeGroup name="operationMaintainAttr">
    <xs:attributeGroup ref="baseMaintainAttr"/>
    <xs:attributeGroup ref="operationAttr"/>
  </xs:attributeGroup>

  <!-- Case Attributes -->
  <xs:attributeGroup name="caseMaintainAttr">
    <xs:attributeGroup ref="baseMaintainAttr"/>
  </xs:attributeGroup>

  <!-- Server Call Attributes -->
  <xs:attributeGroup name="sqlAttr">
    <xs:attribute name="multiple" type="multipleRestriction"/>
    <xs:attribute name="audit" type="xs:string"/>
    <xs:attribute name="batch" type="booleanEnum"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:attributeGroup>

  <!--
  ==============================================================================
  Group definitions
  ==============================================================================
  -->

  <!-- Target group -->
  <xs:group name="targetGroup">
    <xs:choice>
      <xs:element ref="insert"/>
      <xs:element ref="update"/>
      <xs:element ref="delete"/>
      <xs:element ref="serve"/>
      <xs:element ref="queue"/>
      <xs:element ref="commit"/>
      <xs:element ref="multiple"/>
      <xs:element ref="send-email"/>
      <xs:element ref="include-target"/>
    </xs:choice>
  </xs:group>

  <!--
  ==============================================================================
  Type definitions
  ==============================================================================
  -->

  <!-- Screen Type -->
  <xs:complexType name="maintainType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="target"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Target Type -->
  <xs:complexType name="targetType">
    <xs:group ref="targetGroup" minOccurs="0" maxOccurs="unbounded"/>
    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="exclusive" type="booleanEnum"/>
    <xs:attribute name="public" type="booleanEnum"/>
  </xs:complexType>

  <!-- Email Type -->
  <xs:complexType name="emailType">
    <xs:attribute name="id" use="required" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <!-- Serve Type -->
  <xs:complexType name="serveType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
    </xs:choice>
    <xs:attribute name="service" use="required" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <!-- Queue Type -->
  <xs:complexType name="queueType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
    </xs:choice>
    <xs:attribute name="name" use="required" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
  </xs:complexType>

  <!-- Multiple Type -->
  <xs:complexType name="multipleType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" ref="table"/>
      <xs:element maxOccurs="unbounded" ref="field"/>
      <xs:element maxOccurs="unbounded" ref="variable"/>
    </xs:choice>
    <xs:attribute name="audit" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="grid"  type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Delete Type -->
  <xs:complexType name="deleteType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" ref="table"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="field"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="static"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="operation"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
      <xs:element ref="where"/>
    </xs:choice>
    <xs:attributeGroup ref="sqlAttr"/>
  </xs:complexType>

  <!-- Insert Type -->
  <xs:complexType name="insertType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" ref="table"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="field"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="static"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="operation"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
    </xs:choice>
    <xs:attributeGroup ref="sqlAttr"/>
    <xs:attribute name="query" type="xs:string"/>
  </xs:complexType>

  <!-- Update element -->
  <xs:complexType name="updateType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" ref="table"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="field"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="static"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="operation"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
      <xs:element ref="where"/>
    </xs:choice>
    <xs:attributeGroup ref="sqlAttr"/>
  </xs:complexType>

  <!-- Table Type -->
  <xs:complexType name="tableType">
    <xs:attributeGroup ref="tableMaintainAttr"/>
  </xs:complexType>

  <!-- Field Type -->
  <xs:complexType name="fieldType">
    <xs:attributeGroup ref="fieldMaintainAttr" />
  </xs:complexType>

  <!-- Operation type -->
  <xs:complexType name="operationType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="field" />
      <xs:element ref="static" />
      <xs:element ref="operation" />
      <xs:element ref="case" />
      <xs:element ref="when" />
      <xs:element ref="else" />
    </xs:choice>
    <xs:attributeGroup ref="operationMaintainAttr"/>
  </xs:complexType>

  <!-- Field Type -->
  <xs:complexType name="staticType">
    <xs:attributeGroup ref="staticMaintainAttr" />
  </xs:complexType>

  <!-- Case Else type -->
  <xs:complexType name="caseType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="when" />
      <xs:element ref="else" />
    </xs:choice>
    <xs:attributeGroup ref="caseMaintainAttr"/>
  </xs:complexType>

  <!-- Include Target Type -->
  <xs:complexType name="includeTargetType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="variable"/>
    </xs:choice>
    <xs:attribute name="name" use="required" type="xs:string"/>
  </xs:complexType>

  <!-- Case Else type -->
  <xs:complexType name="caseElseType">
    <xs:attributeGroup ref="operandAttr"/>
  </xs:complexType>

  <!-- Case When type -->
  <xs:complexType name="caseWhenType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="left-operand" />
      <xs:element ref="right-operand" />
      <xs:element ref="then" />
    </xs:choice>
    <xs:attributeGroup ref="filterAttr"/>
  </xs:complexType>

  <!-- Filter Type -->
  <xs:complexType name="filterType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="left-operand" />
      <xs:element ref="right-operand" />
    </xs:choice>
    <xs:attributeGroup ref="filterAttr"/>
  </xs:complexType>

  <!-- Operand Type -->
  <xs:complexType name="operandType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="field" />
      <xs:element ref="static" />
      <xs:element ref="operation" />
      <xs:element ref="case" />
    </xs:choice>
    <xs:attributeGroup ref="operandAttr"/>
  </xs:complexType>

  <!-- FilterGroup Type -->
  <xs:complexType name="filterGroupType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="filter"/>
      <xs:element ref="or"/>
      <xs:element ref="and"/>
    </xs:choice>
  </xs:complexType>

  <!-- Where Type -->
  <xs:complexType name="whereType">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="or"/>
      <xs:element ref="and"/>
    </xs:choice>
  </xs:complexType>

  <!--
  ==============================================================================
  Restriction definitions
  ==============================================================================
  -->

  <xs:simpleType name="multipleRestriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="true"/>
      <xs:enumeration value="audit"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
